<html lang="en">
<head>
  <h1>PollSimulator</h1>
</head>
<body class="container">
    <li><a href="/addMember">Add Member</a> </li>
    <li><a href="/getMembers">Get Members</a> </li>
    <li><a href="/getPollResulte">Get PollResult</a> </li>
    <br>
    <br>
    <li><a href="/">Return to DashBoard</a> </li>
</body>
</html>