<html lang="en">
<head>
  <h1>PollSimulator</h1>
</head>
<body class="container">

    <li><a href="/addMember">Add Member</a> </li>
    <li><a href="/getMembers">Get Members</a> </li>
    <li><a href="/vote">VotingPage</a> </li>

</body>
</html>