<html lang="en">
<head>
  <h1>PollSimulator</h1>
</head>
<body class="container">
        <% for (var i=0;i <MemberData.length;i++)
        {%>
            <li ><%=MemberData[i].name%></li>
        <%}
         %>
         <br>
        <br>
        <li><a href="/adminside">Return to Admin Side</a> </li>

</body>
</html>