<html lang="en">
<head>
  <h1>PollSimulator</h1>
</head>
<body class="container">

  <% if(locals.polldata) {%>

      <% for (var i=0;i<2;i++)
        {%>
            <li ><%=polldata[i].name%> - <%=polldata[i].vote%></li>
        <%}
         %>

         <%}%>

         <li><a href="/adminside">Return to Admin Side</a> </li>
</body>
</html>