<html lang="en">
<head>
  <h1>PollSimulator</h1>
</head>
<body class="container">

    <form method="POST" action="/vote">
        <label for="html" >Student Roll No.</label>
        <input name="studentrollno" type="text">
        <br>
        <br>
        <% if(locals.MemberData!== undefined) {%>
        
            <% for (var i=0;i <MemberData.length;i++)
            {%>
                <input type="radio" name="member" value="<%=MemberData[i].name%>"><%=MemberData[i].name%>
                <br>
            <%}
        }%>

        <% if (locals.texterror) { %>

            <label ><%=texterror%></label>
           
           <% } %>
        
         <input type="submit" >

         <br>
         <br>
         <li><a href="/votingside">Return to Vote</a> </li>
    </form>

</body>
</html>