<html lang="en">
<head>
  <h1>PollSimulator</h1>
</head>
<body class="container">

    <form method="POST" action="/vote">
        <label for="html" >Student Roll No.</label>
        <input name="studentrollno" type="text">
        <br>
        <br>
        <% for (var i=0;i <MemberData.length;i++)
        {%>
            <input type="radio" name="member" value="<%=MemberData[i]%>"><%=MemberData[i]%>
            <br>
        <%}
         %>
         <input type="submit" >
    </form>

</body>
</html>