<html lang="en">
<head>
  <h1>PollSimulator</h1>
</head>
<body class="container">

    <form method="POST" action="/vote">
        <label for="html" >Vote Done Another Vote Please.</label>
        <li><a href="/vote">VotingPage</a> </li>
        
    </form>

</body>
</html>